main {
    margin-top: 250px;
    margin-bottom: 130px;
}

.container {
    max-width: 1000px;
    margin: 10px auto 50px;
    padding: 0 20px;
}

#user-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards por linha */
    gap: 20px;
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    height: auto;
    box-sizing: border-box;
    background: #fff;
}

.card .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card h2,
.card h3 {
    text-align: center;
    font-family: "Playfair Display", serif;
    margin-bottom: 5px;
}

.link {
    margin: auto;
}

.link a {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #333;
}

h2 {
    font-size: 22px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

p {
    margin-bottom: 3px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
