main {
    margin-top: 250px;
    margin-bottom: 130px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

#userList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2,
.card h3 {
    text-align: center;
    font-family: "Playfair Display", serif;
}

.card p {
    margin-bottom: 5px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.link a {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.link {
    margin-left: 120px;
}

.actions a {
    text-align: center;
}