.caixa-principal {
    max-width: 1200px;
    margin: 20px auto;
    padding: 24px;
    border-radius: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 16px;
}

.informacoes-pedito,
.informacoes-pedito-valores {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.informacoes-pedito p,
.informacoes-pedito-valores p {
    margin: 0;
    font-size: 14px;
}

.codigo-pedido {
    font-weight: bold;
    color: #222;
}

.data-entrega {
    font-size: 14px;
    margin-bottom: 8px;
    color: #222;
}

.imagem-e-descricao {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #e0e0e0;
}

.imagem-e-descricao img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.nome-produto {
    font-weight: 500;
    font-size: 16px;
    color: #222;
    margin-left: 230px;
}

.quantidade-produto {
    font-size: 14px;
    margin-left: 60px;
    color: #222;
}

.botao-devolucao {
    margin-left: auto;
    background-color: #29473D;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-devolucao:hover {
    background-color: #A48847;
}