main { 
    margin-top: 250px;
    margin-bottom: 50px;
}

.informacoes-pedito {
    height: 35px;
    padding-left: 10px;
    padding: 10px;
    display: flex;
}

.informacoes-pedito-valores {
    height: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.informacoes-pedito  p {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 220px;
    margin-bottom: 50px;
}

.data-entrega {
    margin-top: 20px;
}

img {
    width: 100px;
    margin-left: 10px;
    margin-top: 20px;
}

.imagem-e-descricao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nome-produto {
    margin-top: -130px;
    margin-bottom: 5px;
    margin-left: 130px;
}

.status-produto {
    margin-left: 130px;
    margin-top: -15px;
}

.descricao-produto {
    margin-top: 5px;
    margin-left: 130px;
    width: 900px;
}

.quantidade-produto {
    width: 20px;
    border-radius: 20px;
    text-align: center;
    margin-top: 40px;
    margin-left: 85px;
    background-color: white;
}

.botao-devolucao {
    margin-top: -10px;
    margin-left: 130px;
    width: 100px;
    height: 25px;
}

.botao-trocar {
    margin-top: -25px;
    margin-left: 250px;
    width: 100px;
    height: 25px;
}

