a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #121212;
    margin-top: 15px;

    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

a:hover {
    color: #A48847;
}