body {
    font-family: "Lato", "sans-serif";
    font-size: 17;
    font-weight: 400;
    color: #121221;
}


main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    margin-top: 220px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 1rem;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

table img {
    width: 80px;
    height: auto;
    border-radius: 8px;
}

.descricao h4 {
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.cor-seletor {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.fa-square-xmark {
    cursor: pointer;
}

.valor-produto p {
    font-weight: bold;
}

/* Card de compra */
.card-compra {
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
}

.card-compra .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.paragrafo {
    font-size: 1rem;
}

.valor-subtotal,
.valor-total {
    font-weight: bold;
    font-size: 1.2rem;
}

.botao-wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;

    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.link-botao {
    text-decoration: none;
}

.botao {
    padding: 0.8rem 1.5rem;
    background-color: #29473D;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.botao:hover {
    background-color: #A48847;
}

.estilo-botao {
    background-color: #29473D;
    color: #ffffff;
}

