@import url(../css-global/css-global/variaveis.css);

main {
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

.cupom-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.cupom {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cupom:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

h3 {
    font-family: "Lato", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

@media (max-width: 1024px) {
    .cupom-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .cupom-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .cupom-container {
        grid-template-columns: repeat(1, 1fr);
    }
}