
.detalhar-produto {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 100px;
    width: 85%;
    padding: 20px;
    border-radius: 8px;
}

.detalhar-produto img {
    border-radius: 8px;
}

.detalhe-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.imagem-principal {
    width: 300px;
    height: 400px;
    margin-right: 20px;
}

.detalhe-texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 80px;
    font-family: var(--font-destaque);
}

.detalhe-texto h4 {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.detalhe-texto h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.detalhe-texto p {
    margin-bottom: 25px;
}

.quantidade-preco-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 370px;
    margin-top: -80px;
}

.quantidade-container {
    display: flex;
    align-items: center;
    color: var(--cor1);
    background-color: var(--cor0);
    height: 40px;
    border-radius: 8px;
    margin-left: 10px;
}

.quantidade-container button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: var(--cor3);
    border-radius: 4px;
    border: none;
}

#quantidade {
    width: 30px;
    text-align: center;
}

.preco-container {
    display: flex;
    align-items: flex-start;
    margin-top: -10px;
}

.preco-container p {
    font-size: 1.4em;
    margin-top: 20px;
    margin-right: 350px;
}

.preco-container a {
    margin-top: 10px;
    margin-right: 20px;
}

.preco-container a button {
    border: none;
}

.preco-container button {
    padding: 10px 20px;
    margin-top: 5px;
    margin-right: 10px;
    color: var(--cor3);
    background-color: var(--cor0);
    border-radius: 8px;
    text-decoration: none;
}

.fa-solid.fa-cart-shopping {
    margin-right: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 90px;
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: center;
}

th,
td {
    padding: 18px;
    border-bottom: 1px solid #ddd;
    border-bottom: none;
}
